version: "3.8"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: kafka
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_HEAP_OPTS: "-Xms256M -Xmx512M"

  mongo:
    image: mongo:6
    container_name: finalproject-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./backend/capstone_backend-main
      dockerfile: Dockerfile
    container_name: finalproject-backend
    ports:
      - "9090:9090"
    depends_on:
      - mongo
      - kafka
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/finalproject
      SERVER_PORT: 9090
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: finalproject-frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo_data:
